{{/* This template based on https://github.com/panr/hugo-theme-terminal/blob/master/layouts/_default/single.html (MIT/x11 License)*/}}
{{ define "main" }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="post-title" itemprop="headline">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
  <div class="post-meta">
    {{ if .Params.Date }}
      <time itemprop="datePublished" class="post-date">
        {{ .Date.Format "2006-01-02" }} {{ if $.Site.Params.showLastUpdated }}[{{or $.Site.Params.updatedDatePrefix "Updated"}}: {{ .Lastmod.Format "2006-01-02" }}]{{ end }}
      </time>
    {{ end }}
    {{ with .Params.Author }}
    <span class="post-author" itemprop="author">:: {{ . }}</span>
    {{ end }}
  </div>

  {{ if .Params.tags }}
  <span class="post-tags">
    {{ range .Params.tags }}
    #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}" itemprop="keywords">{{ . }}</a>&nbsp;
    {{ end }}
  </span>
  {{ end }}

  {{ if .Params.Cover }}
    <img src="{{ .Params.Cover | absURL }}" class="post-cover" alt="{{ .Title | plainify | default " " }}" />
  {{ end }}

  {{ if .Params.Toc }}
    <div class="table-of-contents">
      <h2>
        {{ if .Params.TocTitle }}
          {{ .Params.TocTitle }}
        {{ else if $.Site.Params.TocTitle }}
          {{ $.Site.Params.TocTitle }}
        {{ else }}
          Table of Contents
        {{ end }}
      </h2>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  <div class="post-content" itemprop="articleBody">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>

  {{ if eq .Type $.Site.Params.contentTypeName }}
  {{ partial "posts_pagination.html" . }}
  {{ end }}

  {{ partial "comments.html" . }}
</div>
{{ end }}
